html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  padding: 0;
  margin: 0;

}

h1{
  font-size: 50px;
  text-align: center;
  line-height: 1;
  padding: 50px 0;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline-block;
  padding-right:20px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  z-index: 1;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;

}

.skip a:focus{
  margin-top: 0px;
  margin-left:0px;
}

a:focus{
  border: 2px solid  black;
}

footer{
  background-color: black;
  color: white;
  grid-row: 7 / auto;
  padding-top: 30px;
  text-align: center;
  grid-column: 1 / -1;  
 
}

nav{
  background-color: #ddd;
  padding: 10px 0;
  grid-row: 1/2;
  text-align: left;
  display: inline-grid;
  grid-column: 1/-1;
}

header{
  background-attachment: fixed;      
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;       
  color: white;
  height: 400px;                
  
  display: inline-grid;
  background-image: url('../images/header.jpg');
  background-color: black;
  grid-column: 1/-1;
  grid-row:2/span 1;
  
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}


.container{

  display: grid;
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-template-columns: 100px 500px 100px;
  grid-row-gap: 15px;
  width: 80vw;
}
.about, .method, .clients, .contact{
 
  display: inline-grid;
  grid-column: 2/ span 1;
}

.about-image, .method-image, .clients-image, .contact-image{

  overflow: hidden;
  display: inline-grid;
  grid-column: 1/ -1;
  max-height: 700px;
}

.about, .about-image{

  grid-row: 3/span 1;

}

.method, .method-image{
 
  grid-row: 4/span 1;
}


.clients, .clients-image{

  grid-row: 5/span 1;
}


.contact, .contact-image{

  grid-row: 6/span 1;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  align-self: center;
}



@media all and (min-width: 800px){

  .container{
    display:grid
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
  }

  nav{
    background-color: #ddd;
    text-align: right;
    padding: 35px 0px;
    align-self: center;
  }

  .about, .clients, .method-image, .contact-image{

    display: inline-grid;
    grid-column: 3/ span 2;
  }

  .about-image, .clients-image, .method, .contact{

    display: inline-grid;
    grid-column: 2/ span 2;
  }


}  
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    
    transition: none;
    -webkit-transition: none;
  }
}
